---
http_interactions:
- request:
    method: post
    uri: https://us5.api.mailchimp.com/3.0/lists/ddfc221de6/members
    body:
      encoding: UTF-8
      string: '{"email_address":"person3@zephyros-systems.co.uk","status":"pending","merge_fields":{"FNAME":"Natalie","LNAME":null,"EMPNAME":null,"JOBTITLE":null,"SIGNED_ON":"15/04/2020"}}'
    headers:
      Authorization:
      - Basic YXBpa2V5OjA4ZjI1OWY0M2NkZmYzNTU5Y2ZkMzEzN2E1MzUzZTdmLXVzNQ==
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      Link:
      - <https://us5.api.mailchimp.com/schema/3.0/ProblemDetailDocument.json>; rel="describedBy"
    body:
      encoding: ASCII-8BIT
      string: '{"type":"http://developer.mailchimp.com/documentation/mailchimp/guides/error-glossary/","title":"Invalid
        Resource","status":400,"detail":"The resource submitted could not be validated.
        For field-specific details, see the ''errors'' array.","instance":"c53116b9-bdd8-4ae2-be73-1974a20d3850","errors":[{"field":"merge_fields.LNAME","message":"Data
        did not match any of the schemas described in anyOf."},{"field":"merge_fields.EMPNAME","message":"Data
        did not match any of the schemas described in anyOf."},{"field":"merge_fields.JOBTITLE","message":"Data
        did not match any of the schemas described in anyOf."}]}'
  recorded_at: Wed, 15 Apr 2020 13:58:14 GMT
- request:
    method: post
    uri: https://us5.api.mailchimp.com/3.0/lists/ddfc221de5/members
    body:
      encoding: UTF-8
      string: '{"email_address":"person3@zephyros-systems.co.uk","status":"pending","merge_fields":{"FNAME":"Natalie","LNAME":null,"EMPNAME":null,"JOBTITLE":null,"SIGNED_ON":"15/04/2020"}}'
    headers:
      Authorization:
      - Basic YXBpa2V5OjA4ZjI1OWY0M2NkZmYzNTU5Y2ZkMzEzN2E1MzUzZTdmLXVzNQ==
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      Link:
      - <https://us5.api.mailchimp.com/schema/3.0/ProblemDetailDocument.json>; rel="describedBy"
    body:
      encoding: UTF-8
      string: '{"type":"http://developer.mailchimp.com/documentation/mailchimp/guides/error-glossary/","title":"Resource
        Not Found","status":404,"detail":"The requested resource could not be found.","instance":"743db43c-ab4e-4580-80a2-81bd1b605fd7"}'
  recorded_at: Wed, 15 Apr 2020 15:36:09 GMT
recorded_with: VCR 5.1.0
