---
http_interactions:
- request:
    method: post
    uri: https://us5.api.mailchimp.com/3.0/lists/ddfc221de6/members
    body:
      encoding: UTF-8
      string: '{"email_address":"thisisme3@zephyros-systems.co.uk","status":"pending","merge_fields":{"FNAME":"Natalie","LNAME":"Zurbman","EMPNAME":"Office
        of Public Works","JOBTITLE":"Accountant","SUBRATE":"23.33","SIGNED_ON":"16/04/2020"}}'
    headers:
      Authorization:
      - Basic YXBpa2V5OmUyODkzYTNiMjdlNDM3NTgxMDhkZjJlYTViYmUzMjQwLXVzNQ==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us5.api.mailchimp.com/schema/3.0/Lists/Members/Instance.json>; rel="describedBy",
        <https://us5.admin.mailchimp.com/lists/members/view?id=203487012>; rel="dashboard"
    body:
      encoding: UTF-8
      string: '{"id":"dc6718352caae0f0b53354e1fdf611a2","email_address":"thisisme3@zephyros-systems.co.uk","unique_email_id":"5b8442525d","web_id":203487012,"email_type":"html","status":"pending","merge_fields":{"FNAME":"Natalie","LNAME":"Zurbman","ADDRESS":"","PHONE":"","BIRTHDAY":"","EMPNAME":"Office
        of Public Works","BRANCHNAME":"","JOBROLE":"","LOCATION":"","JOINEDON":"","JOBTITLE":"Accountant","SUBRATE":23.33},"stats":{"avg_open_rate":0,"avg_click_rate":0},"ip_signup":"87.113.166.80","timestamp_signup":"2020-04-16T10:26:47+00:00","ip_opt":"","timestamp_opt":"","member_rating":2,"last_changed":"2020-04-16T10:26:47+00:00","language":"","vip":false,"email_client":"","location":{"latitude":0,"longitude":0,"gmtoff":0,"dstoff":0,"country_code":"","timezone":""},"source":"API
        - Generic","tags_count":0,"tags":[],"list_id":"ddfc221de6","_links":[{"rel":"self","href":"https://us5.api.mailchimp.com/3.0/lists/ddfc221de6/members/dc6718352caae0f0b53354e1fdf611a2","method":"GET","targetSchema":"https://us5.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Response.json"},{"rel":"parent","href":"https://us5.api.mailchimp.com/3.0/lists/ddfc221de6/members","method":"GET","targetSchema":"https://us5.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/CollectionResponse.json","schema":"https://us5.api.mailchimp.com/schema/3.0/CollectionLinks/Lists/Members.json"},{"rel":"update","href":"https://us5.api.mailchimp.com/3.0/lists/ddfc221de6/members/dc6718352caae0f0b53354e1fdf611a2","method":"PATCH","targetSchema":"https://us5.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Response.json","schema":"https://us5.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/PATCH.json"},{"rel":"upsert","href":"https://us5.api.mailchimp.com/3.0/lists/ddfc221de6/members/dc6718352caae0f0[...]
- request:
    method: get
    uri: https://us5.api.mailchimp.com/3.0/lists/ddfc221de6/members/dc6718352caae0f0b53354e1fdf611a2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YXBpa2V5OmUyODkzYTNiMjdlNDM3NTgxMDhkZjJlYTViYmUzMjQwLXVzNQ==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us5.ap[...]
