---
http_interactions:
- request:
    method: post
    uri: https://us5.api.mailchimp.com/3.0/lists/ddfc221de6/members
    body:
      encoding: UTF-8
      string: '{"email_address":"person2@zephyros-systems.co.uk","status":"pending","merge_fields":{"FNAME":"Natalie","LNAME":"Zurbman","EMPNAME":"Office
        of Public Works","JOBTITLE":"Accountant","SIGNED_ON":"15/04/2020"}}'
    headers:
      Authorization:
      - Basic YXBpa2V5OjA4ZjI1OWY0M2NkZmYzNTU5Y2ZkMzEzN2E1MzUzZTdmLXVzNQ==
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      Link:
      - <https://us5.api.mailchimp.com/schema/3.0/ProblemDetailDocument.json>; rel="describedBy"
    body:
      encoding: ASCII-8BIT
      string: '{"type":"http://developer.mailchimp.com/documentation/mailchimp/guides/error-glossary/","title":"Member
        Exists","status":400,"detail":"person2@zephyros-systems.co.uk is already a
        list member. Use PUT to insert or update list members.","instance":"d66872d1-c272-4cb1-b8c5-c2daf4cd9b26"}'
  recorded_at: Wed, 15 Apr 2020 13:58:14 GMT
- request:
    method: post
    uri: https://us5.api.mailchimp.com/3.0/lists/ddfc221de5/members
    body:
      encoding: UTF-8
      string: '{"email_address":"person2@zephyros-systems.co.uk","status":"pending","merge_fields":{"FNAME":"Natalie","LNAME":"Zurbman","EMPNAME":"Office
        of Public Works","JOBTITLE":"Accountant","SIGNED_ON":"15/04/2020"}}'
    headers:
      Authorization:
      - Basic YXBpa2V5OjA4ZjI1OWY0M2NkZmYzNTU5Y2ZkMzEzN2E1MzUzZTdmLXVzNQ==
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      Link:
      - <https://us5.api.mailchimp.com/schema/3.0/ProblemDetailDocument.json>; rel="describedBy"
    body:
      encoding: UTF-8
      string: '{"type":"http://developer.mailchimp.com/documentation/mailchimp/guides/error-glossary/","title":"Resource
        Not Found","status":404,"detail":"The requested resource could not be found.","instance":"023a2588-8d29-432e-a2a1-e75de0fbcd3c"}'
  recorded_at: Wed, 15 Apr 2020 15:36:09 GMT
recorded_with: VCR 5.1.0
