<h1>About income protection</h1>

<p>Fórsa’s schemes are designed to provide you and your family with financial security and peace of mind. If eligible,
  Fórsa will pass your personal data to Cornmarket Group Financial Services for Salary Protection for Health & Welfare,
  Local Government and Local Services, and Education Divisions Scheme; Civil Service in Professional, Technical and
  Service Grades Scheme and Group Life Scheme for Civil Service in Clerical and Executive Grades or Lyons Financial
  Services for Salary Protection for Civil Service in Clerical and Executive Grades.</p>

<h3>Nine Months Free Salary/Income Protection and Group Life Terms and Conditions</h3>

<p>The nine months free offer is available to new Fórsa members only, who apply to join the Scheme/Plan within three
  months of becoming a Fórsa member. New members can only avail of this offer once. This offer is not available to those
  who have been members of Fórsa for more than three months and/or existing members of any Salary/Income Protection
  Scheme or Group Life Plan administered by Cornmarket or Lyons. The first nine months means nine consecutive months
  from the 1st of the month following the date that you are accepted as a member of the Scheme by the Insurance
  Company.</p>

<h3>Fórsa Salary/Income Protection Scheme and Group Life Plan Data Protection Statement</h3>

<p>If you select 'Learn more' to getting nine months FREE Salary/Income Protection and Group Life, your personal data
  will be transmitted from Fórsa to Cornmarket Group Financial Services Ltd. or Lyons Financial Services Ltd. as
  applicable. Your personal data will be used and recorded by Cornmarket or Lyons to contact you about the nine months
  FREE Salary/Income Protection and/or Group Life Plan offer. Your personal data will form part of your application to
  the Fórsa Salary/Income Protection Scheme and Fórsa Group Life Plan, if you choose to apply for a policy. You can
  opt-out of receiving this information at any time by emailing Cornmarket at
  <a href="mailto:dataprotection@cornmarket.ie">dataprotection@cornmarket.ie</a> and Lyons at
  <a href="mailto:gdpr@lfs.ie">gdpr@lfs.ie</a> with your instruction.</p>

<p>For full details on how your data will be used by Cornmarket and your rights, please visit
  <a href="https://cornmarket.ie/data-privacy-notice" target="_blank">https://cornmarket.ie/data-privacy-notice</a>. For
  full details on how your data will be used by Lyons and your rights, please visit <a href="https://lfs.ie">https://lfs.ie</a>.
  Cornmarket Group Financial
  Services Ltd. is regulated by the Central Bank of Ireland. A member of the Irish Life Group Ltd. which is part of the
  Great-West Lifeco Group of companies. Roisin Lyons t/a Lyons Financial Services is regulated by the Central Bank of
  Ireland.</p>
