@import 'settings';
@import 'foundation';

header {
  margin-top: 1rem;
  margin-bottom: 1rem;

  @include breakpoint(small only) {
    .logo { height: 120px; }
  }
  @include breakpoint(medium only) {
    .logo { height: 140px; }
  }
  @include breakpoint(large only) {
    .logo { height: 170px; }
  }
}

.side-note {
  color: $dark-gray;
}

.callout.secondary {
  background-color: $light-gray;
  color: $black;
}

footer {
  width: 100%;
  color: $white;
  min-height: 12em;
  padding: $global-padding;

  background-image: asset-url('footer-bg.svg');
  background-size: cover;

  ul {
    list-style: none;
    margin: 0;
    text-align: right;
  }

  a {
    color: $white;

    &:hover {
      color: $white;
      text-decoration: underline;
    }
  }
}
